@model DriveHub.Models.TestDriveRequest

@{
    ViewData["Title"] = "Details";
}
<style>
    body {
        background: url('../img/2049.jpg');
        background-size: cover;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        color: #222;
    }

    h1 {
        text-align: center;
        color: #FF0033; /* Красный */
        margin-top: 20px;
        text-shadow: 2px 2px #393c42; /* Темный серый */
    }

    .table-container {
        background: linear-gradient(135deg, #393c42, #FF0033); /* Серо-красный градиент */
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        color: #222; /* Темный шрифт */
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table thead {
            background-color: #393c42; /* Темный серый */
            color: #FFFFFF;
        }

            .table thead th {
                padding: 10px;
            }

        .table tbody tr {
            background-color: #FFFFFF;
            color: #222;
        }

            .table tbody tr:nth-child(even) {
                background-color: #FF0033; /* Красный */
                color: #FFFFFF;
            }

        .table tbody td {
            padding: 10px;
            text-align: center;
        }

        .table tbody tr:hover {
            background-color: #FF0033; /* Красный */
            color: #FFFFFF;
        }

    .return-button {
        display: inline-block;
        padding: 12px 20px; /* Увеличенные отступы */
        background-color: #FF0033; /* Красный фон */
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease; /* Плавный переход */
    }

        .return-button:hover {
            background-color: #dc3545; /* Темнее красный при наведении */
        }

        .return-button:focus {
            box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5); /* Тень при фокусе */
        }
</style>
<h1>Details</h1>

<div>
    <h4>TestDriveRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.preferred_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.preferred_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.preferred_time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.preferred_time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.request_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
