@model IEnumerable<DriveHub.ViewModels.DeleteDealershipViewModel>

<h2>Delete Dealerships</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DealershipID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DealershipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dealership in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => dealership.DealershipID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dealership.DealershipName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dealership.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dealership.Phone)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@dealership.DealershipID">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
