@model IEnumerable<DriveHub.Models.Car>

@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Price</th>
            <th>Mileage</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Make</td>
                <td>@car.Model</td>
                <td>@car.Year</td>
                <td>@car.Price</td>
                <td>@car.Mileage</td>
                <td>@car.Description</td>
                <td>@car.DateAdded</td>
            </tr>
        }
    </tbody>
</table>
