@model IEnumerable<DriveHub.ViewModels.DeleteReviewViewModel>

<h2>Delete Reviews</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReviewID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePosted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => review.ReviewID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => review.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => review.CarID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => review.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => review.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => review.DatePosted)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@review.ReviewID">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
